## exo1
* tous les nombres divisibles par 7 mais non multiples de 5, entre 2000 et 3200*

In [1]:
def divisible(a,b):
    if (a%b ==0):
        return True
    else:
        return False
def noMultiple(a,b):
    if((a//b)*b == a ):
        return False
    else:
        return True
mylist=[]
for i in range(2000,3201):
    
    if (divisible(i,7) and noMultiple(i,5)):
        mylist.append(i)
print(mylist)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

## exo2
* calculer la factorielle d'un nombre donné*

In [2]:
def fact(a):
    f=1
    if a==0:
        return f
    while a>1:
        f = f * a
        a = a-1
    return f
try:
    nbr = int(input("Entrez un nombre: "))
    print(fact(nbr))
except:
    print('la valeur saisie n\'est pas un entier')

Entrez un nombre: 3
6

## exo3

In [3]:
def fact(nbr):
    dic={}
    for i in range(1,nbr+1):
        dic[i]=i*i
    return dic
try:
    nbr = int(input("Entrez un nombre: "))
    print(fact(nbr))
except:
    print('la valeur saisie n\'est pas un entier')

Entrez un nombre: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

## exo4
* suppression d'un element d'un chaine*

In [4]:
def missing_char(chaine,n):
   new_chaine = chaine[0:n] + chaine[n+1:len(chaine)]
   return new_chaine
try:
    chaine = input("Entrez une chaine: ")
    n = int(input("Entrez un nombre entier: "))
    print(missing_char(chaine,n))
except ValueError:
    print('la valeur saisie n\'est pas un entier')
except IndexError:
    print('le nombre saisie est supérieure au taille de la chaine')

Entrez une chaine: hello
Entrez un nombre entier: 1
hllo

## exo5
* convertir un tableau NumPy en une structure de liste Python *

In [6]:
import numpy as np
tab = np.array([[1,2,3],[4,5,6],[7,8,9]])
myList =tab.tolist()
print(myList)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## exo6
* matrice de covariance de deux tableaux donnés *

In [7]:
tab1=[0,1,2]
tab2=[2,1,0]
tab = np.array([tab1,tab2])
cov = np.cov(tab)
print(cov)

[[ 1. -1.]
 [-1.  1.]]

## exo7
* afficher les valeur de Q selon la formule donnée : Q = racine carrée de [(2 * C * D)/H] *

In [8]:
from math import s
myList = input("entrer une liste de nombre séparées par des virgules : ")
C=50
H=30
d = myList.split(',')
final_list=[]
try:
    for i in d:
        final_list.append(round(sqrt(2*C*float(i)/H)))
except:
    print("la liste est non valide")
print(*final_list, sep = ',')

entrer une liste de nombre séparées par des virgules : 100,150,180
la liste est non valide